# 1. ConfigMap - Configuration de la base de données (non sensible)
apiVersion: v1
kind: ConfigMap
metadata:
  name: spring-config
  namespace: devops
data:
  DB_URL: "jdbc:mysql://mysql-service:3306/studentdb"

---
# 2. Secret - Credentials de la base de données (encodé en base64)
apiVersion: v1
kind: Secret
metadata:
  name: spring-secret
  namespace: devops
type: Opaque
data:
  DB_USERNAME: cm9vdA==           # root (encodé en base64)
  DB_PASSWORD: cm9vdHBhc3N3b3Jk   # rootpassword (encodé en base64)

---
# 3. Deployment Spring Boot - Lance l'application
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-deployment
  namespace: devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
      - name: spring-app
        image: dhiaayadi/dhiaayadii:latest
        ports:
        - containerPort: 8002
        env:
        - name: SPRING_DATASOURCE_URL
          valueFrom:
            configMapKeyRef:
              name: spring-config
              key: DB_URL
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: spring-secret
              key: DB_USERNAME
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: spring-secret
              key: DB_PASSWORD

---
# 4. Service NodePort - Expose l'application à l'extérieur
apiVersion: v1
kind: Service
metadata:
  name: spring-service
  namespace: devops
spec:
  type: NodePort
  selector:
    app: spring-app
  ports:
  - port: 8002
    targetPort: 8002
    nodePort: 30080
    protocol: TCP
